.signer {
  --border: 1px solid red;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid #12ff80;
  background: #222222;
}

.connectedAddress {
  border: none;
  margin: 16px 0 0 0;
  padding: 0;
  text-align: left;
}

.main {
  --border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.card {
  background: #222222;
  border-radius: 12px;
  margin-top: 24px;
  padding: 24px;
  text-align: left;
  width: 100%;
  max-width: 700px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.notDeployed {
  color: #666666;
}
